<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cleansing_App.My.MySettings.DB_MASTERSQLConnectionString"
            connectionString="Server=ADMIN-PC\SQLEXPRESS;Database=DB_MASTER;Trusted_Connection=True;"
            providerName="System.Data.SqlClient" />
      <add name="Cleansing_App.My.MySettings.DB_MASTERSQLConnectionString"
          connectionString="Server=DESKTOP-RES4M7I\SQLEXPRESS;Database=DB_MASTER;Trusted_Connection=True;"
          providerName="System.Data.SqlClient" />
        <add name="Cleansing_App.My.MySettings.db_cleansingappConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\db_cleansingapp.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />    
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>